<article>
  <section id="review-list" class="results">
    <!-- No Reviews -->
    <div *ngIf="reviews.length <= 0; else reviewList">
      <div class="flex">
        <h1 class="section-title">Reviewed</h1>
        <p class="no-data text-center">There are no reviews added yet!</p>
      </div>
    </div>
    <!-- Review list -->
    <ng-template #reviewList>
      <div class="list-book">
        <div class="prompt">
          <div *ngFor="let review of reviews">
            <app-book-card
              [googleId]="review.googleId"
              [reviewId]="review.reviewId"
              [rating]="review.rating"
              [review]="review.review"
            >
            </app-book-card>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</article>
